.button--primary {
    font-family: '851Gkktt', sans-serif;
    box-sizing: border-box;
    background: linear-gradient(91.4deg, #29abe2 0.27%, #00ffff 99.73%);
    box-shadow:
        0 0 9px #00c4ff,
        0 0 8px rgba(0, 255, 229, 0.5);
    border: 1px #00ffff solid;
    backdrop-filter: blur(6px);
    border-radius: 112px;
    font-size: 32px;
    line-height: 31px;
    color: #ffffff;
    height: 47px;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(7px);
    }
}

.button--transparent {
    font-family: 'Quantum', '851Gkktt', sans-serif;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 9px #00C4FF, 0 0 8px rgba(0, 255, 229, 0.5);
    backdrop-filter: blur(7px);
    font-size: 24px;
    line-height: 23px;
    border-radius: 112px;
    border: 1px #00ffff solid;
    height: 39px;
    color: #ffffff;

    &:hover {
        background: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(6px);
    }
}
