.explanation {
    position: relative;
}

.explanation__container {
    position: absolute;
    top: 18px;
    left: 18px;
    padding: 27px 34px 20px 37px;
    border-radius: 28px;
}

.planet-name {
    max-width: 604px;
    font-family: '851Gkktt', sans-serif;
    font-size: 72px;
    line-height: 70px;
    text-shadow:
        0 0 9px #00c4ff,
        0 0 8px rgba(0, 255, 229, 0.5);
}

.detail {
    max-width: 604px;
    height: 72px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    overflow-wrap: break-word;
}

.read-more {
    margin-left: 8px;
    border: none;
    color: #00f4dc;
    background-color: transparent;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    line-height: 150%;
    text-shadow:
        0 0 4px #00f4dc,
        0 0 4px rgba(0, 255, 229, 0.5);
    cursor: pointer;

    &:hover {
        color: #ffa200;
        text-shadow:
            0 0 4px #ffa200,
            0 0 4px #ffa10080;
        transition: 0.5s ease;
    }
}

.rating {
    max-width: 604px;
    color: #00f4dc;
    font-family: '851Gkktt', sans-serif;
    font-size: 24px;
    line-height: 23px;
    text-shadow:
        0 0 12px #00c4ff,
        0 0 8px rgba(0, 255, 229, 0.5);
}

.note {
    position: absolute;
    bottom: -16px;
    left: 8px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

/*.note {*/
/*    position: fixed;*/
/*    bottom: 40px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    font-family: 'Noto Sans JP', sans-serif;*/
/*    font-size: 12px;*/
/*    font-weight: bold;*/
/*}*/
