.finish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.finish_label {
    font-size: 48px;
    line-height: 47px;
    text-shadow:
        0 0 9px #00c4ff,
        0 0 8px rgba(0, 255, 229, 0.5);
    backdrop-filter: blur(6px);
}
