.generator {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 48px;
}
