.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home__bk {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: -1;
}

.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub_label {
    font-style: normal;
    font-size: 32px;
    line-height: 31px;
    text-shadow:
        0 0 9px #00c4ff,
        0 0 8px rgba(0, 255, 229, 0.5);
    backdrop-filter: blur(6px);
}

.space_label,
.maker_label {
    font-size: 96px;
    line-height: 94px;
    color: #00ffff;
    text-shadow:
        0 0 9px #00c4ff,
        0 0 8px rgba(0, 255, 229, 0.5);
    backdrop-filter: blur(6px);
}

.ai_label {
    font-size: 96px;
    line-height: 94px;
    color: #f7ff00;
    text-shadow:
        0 0 17px #ffa200,
        0 0 25px #ffa200;
}

.home__logo {
    position: absolute;
    right: 29px;
    bottom: 16px;
}
