.parameter__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.planet__name {
    padding: 6px;
    width: 390px;
}

.suffix {
    margin-left: 8px;
}
