.parameter {
    font-family: 'Noto Sans JP', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.label__container {
    display: flex;
    align-items: center;
}

.name {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-shadow:
        0 0 9px #00c4ff,
        0 0 8px rgba(0, 255, 229, 1);
}

.value {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-shadow:
        0 0 9px #00c4ff,
        0 0 8px rgba(0, 255, 229, 0.5);
}

.unit {
    margin-top: 8px;
    margin-left: 2px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-shadow:
        0 0 9px #00c4ff,
        0 0 8px rgba(0, 255, 229, 0.5);
}

.slidebar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    margin-top: -2px;
    max-width: 481px;
    width: 100%;
}

.times__container {
    flex: 1;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.times-value {
    font-size: 24px;
    line-height: 29px;
}

.times-value__unit {
    margin-left: 2px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    line-height: 17px;
}
