.parameter__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.name__label {
    text-shadow:
        0 0 9px #00c4ff,
        0 0 8px rgba(0, 255, 229, 0.5);
}

.planet__name {
    margin-left: 8px;
    padding: 0 8px;
    width: 360px;
    height: 35px;
    border-radius: 4px;
    border: none;
}

.suffix {
    margin-left: 8px;
    text-shadow:
        0 0 9px #00c4ff,
        0 0 8px rgba(0, 255, 229, 0.5);
}
