.parameters {
    display: flex;
}

.left {
    width: 50%;
    padding: 24px 16px;
    align-content: center;
}

.right {
    width: 50%;
    text-align: center;
    align-content: center;
}

.parameters__container {
    padding: 24px 16px;
    border-radius: 16px;
    background-color: #fce9ea;
}

.title {
    margin-bottom: 8px;
}
